
/***************
 * d3.js
 ***************/

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.tooltip {
  position: absolute;
  width: 200px;
  height: 28px;
  pointer-events: none;
}

/****************
 * html
 ****************/

.content-intro {
  padding: 1em 4em 1em 4em;
}

.max-height-img {
  max-width: 100%;
  max-height: 100%;
  height: inherit !important;
}

#carpedm20 {
  color: white;
  text-decoration: none;
}

h3 {
  font-weight: 400;
}
