
.tooltip {
  position: absolute;
  width: 200px;
  height: 28px;
  pointer-events: none;
}

.content-intro {
  padding: 1em 4em 1em 4em;
}

.intro-image {
}

.max-height-img {
  max-width: 100%;
  max-height: 100%;
  height: inherit !important;
}
